@model System.Data.DataTable

@{
    ViewData["Title"] = "Korisnici";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p>
    <a asp-action="Add">Dodaj novog korisnika</a>
</p>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                Ime
            </th>
            <th>
                Prezime
            </th>
            <th>
                Telefonski broj
            </th>
            <th>
                Email
            </th>
            <th>
                Datum kreiranja
            </th>
            <th>
                Vrijeme kreiranja
            </th>
            <th>
                Datum promjene
            </th>
            
            <th>
                Ažuriraj
            </th>
            <th>
                Briši
            </th>
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i < Model.Rows.Count; i++) 
{
        <tr>
            <td>
                @Model.Rows[i]["name"]
            </td>
            <td>
                @Model.Rows[i]["surname"]
            </td>
            <td>
                @Model.Rows[i]["tel_number"]
            </td>
            <td>
                @Model.Rows[i]["email"]
            </td>
            <td>
                @Model.Rows[i]["date_cre"]
            </td>
            <td>
                @Model.Rows[i]["time_cre"]
            </td>
            <td>
                @Model.Rows[i]["date_cha"]
            </td>
            <td>
               <a asp-action="Edit" asp-route-id="@Model.Rows[i]["id"]">Edit</a>
            </td>  
            <td>
               <a asp-action="Delete" asp-route-id="@Model.Rows[i]["id"]">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
